@import '~antd/dist/antd.css';

html {
  scroll-behavior: smooth;
}

body {
  padding: 5px;
}

.section {
  padding-top: 7%;
  padding-bottom: 15px;
  padding-left: 70px;
}

.end-section {
  padding-bottom: 7%;
}

.subsection {
  padding-bottom: 10px;
}

.header {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  position:fixed;
  width:100%;
  left:0;
  top:0;
  right: 0;
  z-index: 1000;

/*
  background: -webkit-linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
  );
  background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
  );
  background-image: -o-linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
  );
  background-image: linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
  );
  background-image: -ms-linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
  ); */
}

#prompt {
  /* -webkit-animation-name: shake;
  animation-name: shake; */

  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

h1 {
  font-size: 400%;
}

a {
  color: black;
}
